body {
    background: url('https://raw.githubusercontent.com/achampigny4/achampigny-portfolio/main/public/images/bluewater.jpg') no-repeat fixed bottom;
    background-size: cover;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: .5rem;
  }

.space { 
    margin:100;
    padding:100;
    height:150px;
}